/* general-------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}

a{
    text-decoration: none;
}

p{
    color: black;
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: lighter;
    letter-spacing: .05rem;
}

#meat-and-potatoes {
    text-align: center;
    top: 1000px;
    display: inline-block;
    padding: 1%;
    /* position: ; */
}

.section-title {
    font-size: 2rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    font-family: Syncopate;
}

/* end general----------------------------------------- */

/* header nav bar stuffs---------------------------- */

.nav-bar{
    /* position: fixed; */
    z-index: 1000;
    left: 0;
    top: 0;
    width: 50%;
    height: auto;
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
    padding bottom: 1%;
    /* background-color: rgb(141, 141, 141); */
}

.nav-name {
    font-size: 40px;
    text-transform: uppercase;
    font-family: Syncopate;
    width: 50%;
    padding-left: 1%;
    padding-top: 1%;
    padding bottom: 1%;
}

#header {
    display: flex;
    color: white;
    background-color: black;
    width: 100%;
    height: 250px;
    background-image: url('./images/flowers.jpg');
}

#header .nav-bar a{
    font-size: 1rem;
    letter-spacing: .1rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    display:inline-block;
    font-family: Syncopate;
}

.header-container {
position: relative;
text-align: left;
color: white;
padding: 5%;
}


.name {
    text-align: left;
    font-size: 30px;
    justify-content: center;
    /* position: absolute; */
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#about{
    display: flex;
    justify-content: center;
    padding: 3%;
    border-style: double;
    border-color: rgb(145, 20, 20);
    border-width: 7pt;
}

.headshot {
    width: 40%;
    /* justify-content: center; */
}

.about-section {
display: flexbox;
width: 60%;
column-width: 50%;
padding: 5%;

}

.about-text {
    height:auto;
}

.about-blurb {
    font-size: 20px;
}
.snake-img {
    height:fit-content;
}

.titles-section {
    padding: 3%;
    border-style: double;
    border-color: rgb(145, 20, 20);
    border-width: 7pt;
}

#projects {
    text-align: center;
}

.projects-list {
    padding: 3%;
    border-style: double;
    border-color: rgb(145, 20, 20);
    border-width: 7pt;
}

#contact {
    text-align: center;
}

.contact-section {
    padding: 3%;
    border-style: double;
    border-color: rgb(145, 20, 20);
    border-width: 7pt;
}

.signature {
    font-family: Syncopate;
    background-image: url(./images/flowers.jpg);
    color: rgb(255, 255, 255);
    text-shadow: 5px;
}

#copyright {
    color:rgb(255, 255, 255);
    font-family: sans-serif;
}